{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-center mb-4">Welcome to URLShortener</h2>
            <p class="lead text-center">At URLShortener, we believe in simplifying the online experience. Our team is passionate about making the web more accessible and user-friendly. With the abundance of information online, we understand the importance of sharing content swiftly and securely. That's why we've created a fast, reliable, and easy-to-use URL shortening service that simplifies the way you share links.</p>

            <h4 class="mt-5">Our Mission:</h4>
            <p>Our mission is to simplify the internet for everyone. We are dedicated to providing you with a seamless and efficient way to share long, cumbersome URLs, making the online experience more convenient for you and your audience. Whether you’re sharing links on social media, in emails, or through other online platforms, URLShortener ensures that your links are concise, memorable, and easy to manage.</p>

            <h4 class="mt-5">Why Choose URLShortener:</h4>
            <ul>
                <li><strong>Speed and Reliability:</strong> We offer lightning-fast link shortening services, ensuring that your links are ready to share in an instant.</li>
                <li><strong>User-Friendly Interface:</strong> Our intuitive interface is designed with simplicity in mind, making it easy for anyone to shorten URLs without any technical hassle.</li>
                <li><strong>Security:</strong> We prioritize the security of your links. Rest assured that your data and the links you shorten with us are protected.</li>
            </ul>

            <h4 class="mt-5">Join Us in Simplifying the Web:</h4>
            <p>We invite you to join us in our mission to make the internet a more user-friendly space. Whether you’re an individual user, a business owner, a marketer, or anyone who wants to share information efficiently, URLShortener is here to simplify your online journey.</p>
        </div>
    </div>
</div>
{% endblock content %}
